/*tipografias*/

@font-face {
    font-family: "eli";
    src: url(./imgyfont/Marshal.ttf);
}

@font-face {
    font-family: "eli1";
    src: url(./imgyfont/Heisen.otf);
}

@font-face {
    font-family: "eli2";
    src: url(./imgyfont/Campus.ttf);
}

@font-face {
    font-family: "eli3";
    src: url(./imgyfont/Qualy.ttf);
}

@font-face {
    font-family: "eli4";
    src: url(./imgyfont/Blackboard.ttf);
}


/*header*/

.logo {
    font-family: "eli";
    color: #d0ccc9fa;
    text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
    font-size: 60px;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.titulo {
    font-family: "eli2";
    margin-top: 15px;
}


/*formulario*/

.bloque h3 {
    font-family: "elie3";
}

.formulario {
    margin-top: 67px;
}


/*botones*/

.boton-rojo {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.25);
}


/*footer*/

.iconos {
    background-color: #e4d1c4;
    border-radius: 5px;
}

.iconos div {
    font-size: 40px;
}

.texto {
    margin: 5px;
    padding: 5px;
    font-family: "eli4";
    text-align: center;
}

.texto h5 {
    font-size: 40px;
}