* {
    padding: 0px;
    margin: 0px;
}


/*tipografias*/

@font-face {
    font-family: "eli";
    src: url(./imgyfont/Marshal.ttf);
}

@font-face {
    font-family: "eli1";
    src: url(./imgyfont/Heisen.otf);
}

@font-face {
    font-family: "eli2";
    src: url(./imgyfont/Campus.ttf);
}

@font-face {
    font-family: "eli3";
    src: url(./imgyfont/Qualy.ttf);
}

@font-face {
    font-family: "eli4";
    src: url(./imgyfont/Blackboard.ttf);
}


/*contenedor*/

.contenedor {
    min-height: auto;
    margin: 5px auto;
    margin-top: 20px;
    margin-bottom: 10px;
}


/*header pagina*/

.logo {
    font-family: "eli";
    color: #d4a38c;
    text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
    font-size: 60px;
    text-decoration: none;
}

.logo:hover {
    cursor: pointer;
    text-shadow: 0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;
}


/*formulario*/

.sidebar {
    width: 45%;
    float: right;
    min-height: auto;
    padding: 5px;
}

.bloque {
    display: block;
    border-radius: 8px;
    margin: 15px auto;
    padding: 10px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 0px 7px rgba(0, 0, 0, 0.3), 0px 0px 1px #ffffff inset, 0px -3px 2px rgba(0, 0, 0, 0.25) inset;
    background-color: hsl(210, 100%, 97%);
}

.bloque h3 {
    font-family: "elie3";
}


/*botones*/

.boton-rojo {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.25);
}


/*articulos*/

.principal {
    width: 54%;
    float: left;
    min-height: auto;
    background-color: cornsilk;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    padding: 8px;
}

.principal h2 {
    font-family: "eli2";
}

article h3 {
    font-family: "eli1";
}

article a:link,
a:visited {
    color: darkcyan;
    text-decoration: none;
}

button a:link {
    text-decoration: none;
}

.clear-fix {
    clear: both;
    float: none;
}


/*footer*/

.iconos {
    background-color: #e4d1c4;
    border-radius: 5px;
}

.iconos div {
    font-size: 40px;
}

.texto {
    margin: 5px;
    padding: 5px;
    font-family: "eli4";
    text-align: center;
}

.texto h5 {
    font-size: 40px;
}